h1, h2 {
    margin: 0;
}

#musics {
    width: 45%;
    height: 100%;

    margin: 0 auto;

    text-align: center;

    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 25px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.container {
    display: flex;
    flex-direction: column;

    padding-bottom: 100px;
}

.album {
    display: flex;

    width: auto;
    height: 150px;

    padding-left: 16px;

    align-items: center;    

    border-bottom: 2px solid #222;
}

.album-image img {
    width: 150px;
    border: 1px solid #222;
}

.album-title {
    display: flex;
    margin-left: 25px;

    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.album-title h1 {
    font-size: 48px;
}

.date {
    color: #777;
    font-size: 24px;
}


.songs {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5px;

    border-bottom: 1px solid #222;
}

.name {
    margin-left: 16px;
}

.song-file {
    margin-right: 16px;
}

@media screen and (max-width: 1000px) {

    #musics {
        width: 500px;
    }

}