.top-text {
    margin: 0 auto;
    text-align: center;
    
    border-bottom: 1px solid gray;
    padding-bottom: 5px;

    margin-bottom: 100px;
}

#projects {
    width: 45%;
    height: 100%;
 
    margin: 0 auto;
}

.box {
    width: 90%;
    border-bottom: 1px solid gray;
    margin: 0 auto;
    display: flex;
    padding: 5px;

    margin-top: 100px;

    transition: .2s ease;
    border-radius: 5px;
}

.box h1, a {
    text-decoration: none;
    color: white;
}

.box a {
    display: flex;
    text-align: left;

    transition: .5s ease;
}

.box:hover {
    background-color: #272727;
}

.img img {
    border-radius: 5px;
}

.info {
    width: 390px;
    margin-left: 10px;
}

.desc {
    color: #cacaca;
    margin-left: 10px;
}

.date {
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;

    color: #b6b1b1;
}